:root {
  --primary: #282828;
  --secondary: #dfdfdf;
  --green-turq: #7fffd4;
  --violet: rgb(138, 66, 255);
}

html {
  background-color: var(--primary);
  color: var(--secondary);
}

/* Display */
.df {
  display: flex;
}

.dg {
  display: grid;
}

/* Flex */
.fdc {
  flex-direction: column;
}

.fc {
  align-items: center;
  justify-content: center;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcse {
  justify-content: space-evenly;
}

.aife {
  align-items: flex-end;
}

.fww {
  flex-wrap: wrap;
}

/* Position */
.pf {
  position: fixed;
}

.pa {
  position: absolute;
}

.pr {
  position: relative;
}

.ps {
  position: sticky;
}

/* Sizes */
.htf {
  height: 100%;
}

.whf {
  width: 100%;
}

/* Text */
.tac {
  text-align: center;
}

/* Cursos */
.cp {
  cursor: pointer;
}

/* Utils */
.sectionCard {
  background: var(--primary);
  border-radius: 0.5rem;
}

.sectionPortfolio .sectionDiv {
  background: var(--primary);
  border-radius: 0.5rem;
  max-width: 750px;
  padding: 3.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sectionPortfolio h3 {
  color: var(--green-turq);
  font-size: 2rem;
}

.subtitle {
  flex-basis: 100%;
  font-size: 1.3rem;
  color: var(--violet);
}
